@import '../../../app-styles/theme-variables.scss';
  @import '../../../app-styles/custom-scss-selectors.scss';
  @import '../../../app-styles/font-size.scss';


.blogs-wraper{
    border: 2px solid rgb(0, 255, 81);
     padding: 5px;
     background-image: url("../../../../assets/img/blog-bg.png");
     background-repeat: no-repeat;
     background-size:cover;
     .row{
        width: 100%;
      
        h5{
            @include color($Pumpkin-plues-light);
            text-transform: capitalize;
        }
        h2{ 
          @include color($blog-primary-color);
          overflow-wrap: break-word;
          text-transform: capitalize;
        }
     }
     .card-wrraper{

        padding: 2rem 6rem 10rem 6rem;
        @media only screen and (max-width:578px){
            padding: 2rem 0rem 10rem 0rem;
            margin-top: 2rem;
        }
     
     .single-post2{
        img{
            max-width: 100%;
    :hover{
        transition: all 0.5s ease-in-out;
        transition: width 2s;  
        transform: scale(20px 20px);
    }
        }
      
     }
     .blog-content2{
    @include box-shadow;
    @include primary-color;
    }
    
       .date-home{
        @include Pumpkin-plues-light;
         top: -60px;
         @include primary-light;
         padding: 5px 15px;
        left: 30px;
       }
       a{
       color: black;
       }
       p{
        color: #6e6e6e;
       }
       .blog-btn{
        a{
            cursor: pointer;
            @include primary-color;
            // color: #ff7425;
            @include primary-color;
            border-bottom: 3px solid #ff7425;
        }
       }
     }
    }
// } 
