@import '../../../app-styles/theme-variables.scss';
@import '../../../app-styles/custom-scss-selectors.scss';
@import '../../../app-styles/font-size.scss';
@import '../../../app-styles/styles-classes.scss';

.blogs-wraper {
    border: 2px solid rgb(0, 255, 81);
    padding: 5px;
    @include background-size-cover;
    @include background-repeat-none;
    @include background( url("../../../../assets/img/blog-bg.png"));

    .row {
        width: 100%;
        h5 {
            @include color($Pumpkin-plues-light);
        }

        h2 {
            @include color($dark-shade-of-gray);
        }
    }

    .card-wrraper {
        @include padding(2rem, 6rem, 10rem, 6rem);
        @media only screen and (max-width:578px) {
            @include padding(2rem, 0rem, 10rem, 0rem);
            @include margin(2rem, auto, auto, auto)
        }

        .single-post2 {
        
            img {
                &:hover {
                    transform: scale(1);
                }
            }
        }

        .blog-content {
            @include box-shadow;
            @include primary-color;
        }

        .date-home {
            @include Pumpkin-plues-light;
            @include postion(absolute, -60px, auto, auto, auto);
            @include primary-light;
            @include padding(9px, 10px, 10px, 9px);
        }

        a {
            @include color($dark-color);
        }

        p {
            @include color($dark-shade-of-gray);
        }

        .blog-btn {
            a {
                @include primary-color;
                border-bottom: 3px solid $primary-color;
            }
        }
    }
}