@import './styles-properties.scss';
@import './sizing-variables.scss';

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}

@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin postion($postionType, $top, $right, $bottom, $left) {
  position: $postionType;
 top: $top;
 right: $right;
 bottom: $bottom;
 left: $left;
}

@mixin color($color) {
  color: $color;
}

@mixin background($color) {
  background: $color;
}
@mixin font-size($size) {
  font-size: $size;
}

@mixin display-flex() {
  display: $flex;
}

@mixin justify-content-center {
  display: $flex;
  justify-content: $justify-content-center;
}

@mixin  list-style-none{
list-style: $none;
} 
@mixin height($height){
  height: $height;
};
@mixin box-shadow{
box-shadow: $blog-bg-box-shadow; 
}
@mixin Pumpkin-plues-light{
   background-color: $Pumpkin-plues-light;
}
@mixin primary-color{
  color: $primary-color;
}
@mixin primary-light{
  color: $primary-light;
}

// custom classes

.list-styles-none{
  list-style: $none;
}
.margin-left{
  margin-left: 20px;
}
.border-radius{
  border-radius: 100%; 
}
.cursor-pointer{
  cursor: pointer;
}
.inner-space{
  padding:$inner-space;
}
.outer-space{
  margin: $outer-space;
}
.z-index{
  z-index: 1;
}
.text-align-center{
  text-align: center;
}