$flex: flex;
$justify-content-center: center;
$align-items: center;
$justify-content-between: space-between;
$justify-content-around: space-around;
$none: none;
$overflow-wrap: break-word;
// $card-wrraper-padding: card-wrraper-padding;
// $card-wrraper-padding-media-screen-578: 2rem 0rem 10rem 0rem;
// $margin-top-2: 2rem;
// $date-home-padding: 5px 15px;
// $date-home-left: 30px;