$theme-color: #cccccc;
$primary-color: #ff7425;
$hover-effect: #303539;
$header-background: #242628;
$primary-light: #fff;
$secondary-color: #fff3ed;
$dark-color: #000;
$bs-blue: #0d6efd;
$bs-indigo: #6610f2;
$bs-purple: #6f42c1;
$bs-pink: #d63384; 
$bs-purple: #6f42c1;
$bs-pink: #d63384;
$bs-red: #dc3545;
$bs-orange: #fd7e14;
$bs-yellow: #ffc107;
$bs-green: #198754;
$bs-teal: #20c997;
$bs-cyan: #0dcaf0;
$bs-white: #fff;
$bs-gray: #6c757d;
$bs-gray-dark: #343a40;
$bs-primary: #0d6efd;
$bs-secondary: #6c757d;
$bs-success: #198754;
$bs-info: #0dcaf0;
$bs-warning: #ffc107;
$bs-danger: #dc3545; 
$bs-light: #f8f9fa;
$bs-dark: #212529;
$Link-Water-light: #cdd1d6;
$Pumpkin-plues-light: #ff7425;
$input-white-smoke: #f8f8f8;
$icon-primary-color: #ffffff47;
$dark-shade-of-gray: #232323;
$blog-bg-box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.1);
$Dim-Gray: #6e6e6e;
$Light-grayish-blue: #edf0f3;
$light-gray-primer:#cacdd0;
$cream-white:#f6f3f3eb;
$dim-Gray:#656565;
$Very-pale-mostly-white-orange:#fff7f4;
$Nero:#202020;
$Gainsboro:#dddddd;