<div class="fA-questions-wrraper">

    <div class="container">
        <div class="col-lg-6">

        </div>
        <div class="row justify-content-center  align-items-center">
 
            <div class="faq-wrap mt-30 pr-30 col-lg-6 position-relative">
                <h2 class="fw-700 position-relative"> Frequently Asked Question</h2>
                <div class="card border-none  overflow-hidden position-relative d-flex">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <div class="card-head">
                                    <h2 class="fw-700"><button class="fw-600 border-none outline-none width"> Vivamus
                                            rhoncus ante a ipsum imperdiet ? </button> </h2>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!--  -->
                <div class="card border-none  overflow-hidden position-relative d-flex">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <div class="card-head">
                                    <h2 class="fw-700"><button class="fw-600 border-none outline-none width"> Vivamus
                                            rhoncus ante a ipsum imperdiet ? </button> </h2>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!--  -->
                <div class="card border-none  overflow-hidden position-relative d-flex">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <div class="card-head">
                                    <h2 class="fw-700"><button class="fw-600 border-none outline-none width"> Vivamus
                                            rhoncus ante a ipsum imperdiet ? </button> </h2>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
                <!--  -->
                <div class="card border-none  overflow-hidden position-relative d-flex">

                    <mat-accordion>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <div class="card-head">
                                    <h2 class="fw-700"><button class="fw-600 border-none outline-none width"> Vivamus
                                            rhoncus ante a ipsum imperdiet ? </button> </h2>
                                </div>
                            </mat-expansion-panel-header>
                            <div class="card-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>


            </div>
            <div class="col-lg-6 text-right">
                <img src="../../../../assets/img/ex-offer-img.png" class="max-width-100 border-none">
            </div>
        </div>
    </div>
</div>