<div class="watch-us-wrraper">

  <!-- <div class="cta-area"> -->
  <div class="container">
    <div class="row">
      <div class="col-head fw-700 ">
        <h3 class="fs-18 text-transform-capitalize fw-800">watch Us</h3>
        <h2 class="line-height-1-3 fw-700 fs-70 position-relative"> We Provide Truly Prominent IT Solutions.</h2>
        <p class="line-height-1-3 d-block margin-bottom-30 margin-bottom-15 margin-top-15">Nunc pellentesque eros ac
          augue tempus, vitae convallis lorem consectetur. Nulla maximus at nisl eu malesuada. Nullam quis blandit
          lacus. Fusce tincidunt tellus turpis, quis fermentum justo tempus eget.</p>
        <div class="watch-btn margin-top-30 position-relative"><a href="#"
            class="rounded-2  text-decoration-none d-inline-block fs-16 z-index-1 text-transform-capitalize fw-600">Let`s
            Get Started</a></div>
      </div>

      <div class="s-video-head position-relative">
        <div class="col-head">
          <div class="s-video-content w-100">
            <a href="#" class="z-index-1 fs-14 roundend-100"><img src="../../../../assets/img/play-button.png"></a>
            <!--  -->
            <div class="wrapper">
              <div class="video-main">
                <div class="promo-video">
                  <div class="waves-block"></div>
                </div>
                <a href="" class="video video-popup mfp-iframe waves wave-1" data-lity></a>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
      </div>
      <!-- Fixed Arrow start -->
      <!-- <div class="fixed-btn" [ngClass]="{'show-scrollTop': windowScrolled}> -->
        <!-- <i class="bi bi-level-up-alt"></i> -->
        <!-- <a href="#" (click)="scrollToTop()"><b> <i class="bi bi-arrow-90deg-up"></i></b></a> -->
      </div>
      <!--  Fixed Arrow End -->
    </div>

  </div>

<!-- </div> -->
<!-- </div> -->