<div class="count-wrraper">
    <div class="counter-area">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <div class="counter">
                        <span class="count fs-65 fw-700 line-height-1-3 d-inline-block">{{count2}}</span>
                        <p class="fs-18">Project <br> Completed</p>

                    </div>
                </div>
                <div class="col-lg">
                    <div class="counter">
                        <span class="count fs-65 fw-700 line-height-1-3 d-inline-block">{{count3}}</span>
                        <p>Project <br> Completed</p>

                    </div>
                </div>
                <div class="col-lg">
                    <div class="counter">
                        <span class="count fs-65 fw-700 line-height-1-3 d-inline-block">{{count4}}</span>
                        <p>Project <br> Completed</p>

                    </div>
                </div>
                <div class="col-lg">
                    <div class="counter">
                        <span class="count fs-65 fw-700 line-height-1-3 d-inline-block">{{count1}}</span>
                        <p>Project <br> Completed</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>