<div class="header-wraper container p-2">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <img src="../../../../assets/img/logo.png" class="navbar-brand col-2">
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <!-- <ul class="nav justify-content-center navbar-nav me-auto mb-2 mb-lg-0"> -->
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active p-4" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">About Us</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link p-4" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#" style="color: white;">Contact</a>
                </li>

            </ul>

            <form class="d-flex">
                <span class="search-icon pr-3 pt-3 d-inline-block"> <i class="bi bi-search"></i></span>
                <button class="btn btn-outline-success text-wrap pt-3 pb-3 p-4 rounded border-none" type="submit">Get Started</button>
            </form>
        </div>
        <!-- </div> -->
    </nav>
</div>
 