<div class="header-wraper container p-2">

    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <img src="../../../../assets/img/logo.png" class="navbar-brand col-2">
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
            <!-- <ul class="nav justify-content-center navbar-nav me-auto mb-2 mb-lg-0"> -->
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active p-4" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">Pages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4" href="#" style="color: white;">Contact</a>
                </li>

            </ul>

            <form class="d-flex">
                <span style="color:red"> <i class="bi bi-search"></i></span>
                <button class="btn btn-outline-success text-wrap pt-3 pb-3 p-4 rounded border-none" type="submit">Get Started</button>
            </form>
        </div>
        <!-- </div> -->
    </nav>
</div>
 
<div class="footer-wraper">
    <div class="container">
        <div class="row justify-content-between footer-widget mb-30">
      <div class="col-xl-4 col-lg-4 col-sm-6 redux-footer" style="background-color: black;">
     
        <img src="../../../../assets/img/logo.png" class="navbar-brand col-6 f-widget-title">
        <div class="f-contact footer-widget mb-30">
            <p>Suspendisse non sem ante. Cras pretium gravida leo a convallis. Nam malesuada interdum metus, sit amet dictum ante congue eu. Maecenas ut maximus enim.</p>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 col-sm-6 redux-footer">
        <div class="footer-widget f-menu-content footer-link mb-30 widget widget_nav_menu">
            <h2 class="widgettitle">Our Links</h2>
           <div class="menu-our-links-container">
            <ul class="menu">
            <li><a> <span class="plus">+</span>Home</a></li>
            <li><a><span class="plus">+</span>About Us</a></li>
            <li><a><span class="plus">+</span>Services</a></li>
            <li><a><span class="plus">+</span>Pages</a></li>
            <li><a><span class="plus">+</span>Blog</a></li>
            <li><a><span class="plus">+</span>Contact</a></li>
            </ul>
           </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 redux-footer">
        <div class="footer-widget f-menu-content footer-link mb-30 widget widget_nav_menu">
            <h2 class="widgettitle">Latest Post</h2>
            <div class="textwidget custom-html-widget">
                <div class="recent-blog-footer">
                    <ul>
                        <li>
                            <div class="thum">
                                <img src="../../../../assets/img/s-blogimg-01.png">
                            </div>
                           <div class="text">
                            <a>Nothing impossble to need hard work</a>
                            <span>7 March, 2023</span>
                           </div>
                        </li>
                        <li></li>
                    </ul>
                    <ul>
                        <li>
                            <div class="thum">
                                <img src="../../../../assets/img/s-blogimg-02.png">
                            </div>
                           <div class="text">
                            <a>Nothing impossble to need hard work</a>
                            <span>7 March, 2023</span>
                           </div>
                        </li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 redux-footer">
        <h2 class="widgettitle">Subscribe Now !</h2>
        <div class="mc4wp-form-fields">
        <ul>
            <li><input type="text" class="header-input" placeholder="Your Email..." required>
            <button class="btn header-btn"><i class="fas fa-location-arrow"></i></button>
            </li>
            <!-- <li class="widget_text widget widget_custom_html">
                <div class="footer-social">
                    <a><i class="fab fa-facebook-f"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-instagram"></i></a>
                </div>
            </li> -->
        </ul>
        </div>
      </div>
      </div>
    </div>
</div>