@import '../../../app-styles/theme-variables.scss';

.header-wraper {
    border: 2px solid gold;
    // width: 95%; 
    // padding: 15px;
    background-color: rgb(13, 13, 13);
    // position: relative;
    // margin: auto;

    @media only screen and (max-width:1276px) {}
    .container-fluid {
        img {
            @media only screen and (max-width:1276px) {
                width: 10rem;
            }}
        button {
            background: $primary-color;
            color: $primary-light;
            @media only screen and (max-width:1276px) {
                font-size: 14px;
                padding: 12px 20px;
            }}}
    .nav {
        li a {
            color: $primary-light;
            @media only screen and (max-width:1276px) {
                padding: 0.7rem;
            }}}} 

/********footer-start*************/

.footer-wraper{
    border: 2px solid gold;
    width: 100%;
    background-color: black;
    // padding: 5px;
    .footer-under-box{
        border: 2px solid darkmagenta;
        width: 100%;
    }
    .redux-footer{
        border: 2px solid darkgreen;
    }
    .justify-content-between{
        justify-content: space-between !important;
        .redux-footer{
            border: 2px solid darkmagenta;
            padding: 20px;
            
            .f-contact{
                display: flex;
                gap: 15px;
                p{
                    color: #cdd1d6;
                    overflow-wrap: break-word;
                    // margin-bottom: 15px;
                    margin-top: 40px;
                }
            }
            .widgettitle{
                
                    font-family: 'Jost', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    overflow-wrap: break-word;
                    font-size: 24px;
                    margin-bottom: 5px;
                   position: relative;
                 padding-bottom: 30px;
                  text-align: left;
                // text-align: center;
                color: white;
            }
            }
            .menu-our-links-container{
                 .menu{
                    padding-left: 0rem;
                  li{
                    list-style: none;
                    margin-bottom: 10px;
                    color: white;
                    .plus{
                        content: "+";
                       margin-right: 8px;
                        color: #ff7425;
                       font-size: 18px;
                    }
                  }
                }
        }
        .textwidget .recent-blog-footer{  
            ul {
                list-style: none;
                padding-left: 0rem;
            }
            .thum{
                float: left;
                width: 155px;
                margin-right: 10px;
                display: block;
                list-style: none;
                img{
                    border-radius: 10px;
                    vertical-align: middle;
                    max-width: 100%;
                    transition: all 0.3s ease-out 0s;
                    height: auto;
                   
                }
            }
           ul .text{
                a{
                    width: 100%;
                    color: #fffc !important;
                     display: inline-block;
                }
                span{
                    color: #ff7425;
                }
            }
        }
        .mc4wp-form-fields{

            ul{
                list-style: none;
                padding-left: 0rem;
                position: relative;
             .header-input{
                padding: 0 1rem;
                width: 100%;
                height: 4.2rem;
                outline: none !important;
                margin-bottom: 0;
                border: 1px solid #f8f8f8;
                background: #f8f8f8;
                 border-radius: 5px;
             }
             button{
                position: absolute;
                right: 15px;
                top: 15px;
                bottom: 15px;
                border-radius: 4px;
                background: #ff7425;
                border: none;
                color: #fff;
                padding: 5px 15px;
             }
             .footer-social{
                a{
                    font-size: 16px;
                     display: inline-block;
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: #ffffff47;
                    text-align: center;
                    line-height: 40px;
                    color: #fff !important;
                    overflow-wrap: break-word;
                }
             }
            }
         }
    }
}
