@import '../../../app-styles/theme-variables.scss';

.header-wraper {
    border: 2px solid gold;
    // width: 95%; 
    // padding: 15px;
    background-color: rgb(13, 13, 13);
    // position: relative;
    // margin: auto;

    @media only screen and (max-width:1276px) {}
    .container-fluid {
        img {
            @media only screen and (max-width:1276px) {
                width: 10rem;
            }}
        button {
            background: $primary-color;
            color: $primary-light;
            @media only screen and (max-width:1276px) {
                font-size: 14px;
                padding: 12px 20px;
            }}}
    .nav {
        li a {
            color: $primary-light;
            @media only screen and (max-width:1276px) {
                padding: 0.7rem;
            }}}} 

