<div class="experience-wrraper position-relative">
   <div class="service-section position-relative">
    <div class="service-leftlayer mb-0 position-absolute">
        <img src="../../../../assets/img/service-leftlayer.png" class="max-width-100">
    </div>
    <div class="service-dotimage mb-0 position-absolute">
        <img src="../../../../assets/img/service-dotimage.png" class="max-width-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 position-relative width">
                <div class="service_contentbox">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="service-box box-mb">
                                <div class="service-marketicon">
                                    <img src="../../../../assets/img/service-marketicon.png">
                                </div>>
                                <h4>Digital Marketing</h4>
                                <p>Nostrum exercitationem ae ullam corporis suscipit labo riosam aliruiea.</p>
                                <a> <i class="circle bi bi-arrow-right-short"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="box-top">
                                <div class="service-box box-mb">
                                    <div class="service-producticon">
                                        <img src="../../../../assets/img/service-marketicon.png">
                                    </div>
                                    <h4>Digital Marketing</h4>
                                    <p>Nostrum exercitationem ae ullam corporis suscipit labo riosam aliruiea.</p>
                                    <a> <i class="circle bi bi-arrow-right-short"></i></a>
                                </div>
                            </div>
                        </div>
                        <figure class="service-rightlayer mb-0"></figure>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="service-box">
                                <div class="service-designicon">
                                    <img src="../../../../assets/img/service-designicon.png">
                                </div>
                                <h4>Ui/Ux Designing</h4>
                                <p>Nostrum exercitationem ae ullam corporis suscipit labo riosam aliruiea.</p>
                                <a class="arrow text-decoration-none">
                                    <i class="circle bi bi-arrow-right-short"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="service-box">
                                <div class="service-designicon">
                                    <img src="../../../../assets/img/service-designicon.png">
                                </div>
                                <h4>Ui/Ux Designing</h4>
                                <p>Nostrum exercitationem ae ullam corporis suscipit labo riosam aliruiea.</p>
                                <a class="arrow text-decoration-none">
                                    <i class="circle bi bi-arrow-right-short"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="service_content position-relative aos-init aos-animate">
                    <div class="service-rightcircle mb-0">
                        <img src="../../../../assets/img/service-rightcircle.png">
                    </div>
                  <h6>Our Services</h6>
                  <h2>BEST IT SOLUTION FOR YOUR BUSINESS</h2>
                  <p>Grursus mal suada faci lisis lorem ipsum dolarorit more ame
                    ion consectetur elit vesti at bulum nec odio aea the dumm ipsumm recreo that dolocons.</p>
                    <ul class="list-unstyled mb-0">
                        <li class="text">
                            <!-- <i class="circle fa-duotone fa-check"></i> -->
                            <i class="circle bi bi-check"></i>
                            Quisquam est, rui dolorem ipsum quia dolor corporis.
                        </li>
                        <li class="text">
                            <!-- <i class="circle fa-duotone fa-check"></i>
                             -->
                             <i class="circle bi bi-check"></i>
                            Quisquam est, rui dolorem ipsum quia dolor corporis.
                        </li>
                        <li class="text">
                            <!-- <i class="circle fa-duotone fa-check"></i> -->
                            <i class="circle bi bi-check"></i>
                            Quisquam est, rui dolorem ipsum quia dolor corporis.
                        </li>
                        <li class="text text1">
                            <!-- <i class="circle fa-duotone fa-check"></i> -->
                            <i class="circle bi bi-check"></i>
                            Quisquam est, rui dolorem ipsum quia dolor corporis.
                        </li>
                    </ul>
                    <a class="get_started text-white text-decoration-none">
                        Get Started
                        <div>
                            <img src="../../../../assets/img/button-arrow.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="service-rightlayer mb-0">
                <img src="../../../../assets/img/service-rightlayer.png">
            </div>
        </div>
    </div>
   </div>
</div>
 