<!-- <p>footer works!</p> -->
  <!-- Footer-Start--------------------------------------------- -->
<div class="footer-wraper width-100">
    <div class="container">
        <div class="row justify-content-between footer-widget mb-30 footer-right-panel">
      <div class="col-xl-4 col-lg-4 col-sm-6 redux-footer pb-4" style="background-color: black;">
     
        <img src="../../../../assets/img/logo.png" class="navbar-brand col-6 f-widget-title">
        <div class="f-contact footer-widget mb-30 d-print-flex">
            <p class="mt-5">Suspendisse non sem ante. Cras pretium gravida leo a convallis. Nam malesuada interdum metus, sit amet dictum ante congue eu. Maecenas ut maximus enim.</p>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2  col-sm-6 redux-footer pb-4 fw-600">
        <div class="footer-widget f-menu-content footer-link mb-30 widget widget_nav_menu">
            <h2 class="widgettitle position-relative mb-2 pb-4 fw-600 fs-25">Our Links</h2>
           <div class="menu-our-links-container">
            <ul class="menu p-0  list-styles-none">
            <li class="mb-2 list-style-none fs-14"><a> <span class="plus pr-4">+ &nbsp;</span> Home</a></li>
            <li class="mb-2 list-style-none fs-14"><a><span class="plus">+ &nbsp;</span>About Us</a></li>
            <li class="mb-2 list-style-none fs-14"><a><span class="plus">+ &nbsp;</span>Services</a></li>
            <li class="mb-2 list-style-none fs-14"><a><span class="plus">+ &nbsp;</span>Pages</a></li>
            <li class="mb-2 list-style-none fs-14"><a><span class="plus">+ &nbsp;</span>Blog</a></li>
            <li class="mb-2 list-style-none fs-14"><a><span class="plus">+ &nbsp;</span>Contact</a></li>
            </ul>
           </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 redux-footer pb-4">
        <div class="footer-widget f-menu-content footer-link mb-30 widget widget_nav_menu">
            <h2 class="widgettitle position-relative pb-4 fw-600 fs-25">Latest Post</h2>
            <div class="textwidget custom-html-widget">
                <div class="recent-blog-footer">
                    <ul class="p-0 list-style-none">
                        <li class="list-style-none d-flex">
                            <div class="thum" >
                                <img src="../../../../assets/img/s-blogimg-01.png" class="rounded align-middle">
                            </div>
                           <div class="text margin-left">
                            <a class=" w-100%  d-inline-block">Nothing impossble to need hard work</a>
                            <span>7 March, 2023</span>
                           </div>
                        </li>
                    </ul>
                    <ul class="p-0">
                        <li class="list-styles-none d-flex">
                            <div class="thum float-left">
                                <img src="../../../../assets/img/s-blogimg-02.png">
                            </div>
                           <div class="text margin-left">
                            <a class="w-100% text-decoration-none d-inline-block">Nothing impossble to need hard work</a>
                            <span>7 March, 2023</span>
                           </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-sm-6 redux-footer pb-4">
        <h2 class="widgettitle position-relative pb-4 fw-600 fs-25">Subscribe Now !</h2>
        <div class="mc4wp-form-fields">
    <ul class=" position-relative p-0 ">
            <li class="list-styles-none"><input type="text" class="header-input p-1 rounded-2 w-100" placeholder="Your Email..." required>
            <button class="btn header-btn  position-absolute list-style-none rounded-2" ><i class="bi bi-send-fill"></i></button>
            </li>
          
         </ul> 
         <ul>
            <li class="widget_text widget widget_custom_html list-styles-none">
                <div class="footer-social pt-3">
                    <a class=" fs-16 d-inline-block"><i class="bi bi-facebook"></i></a>
                    <a  class=" fs-16 d-inline-block"><i class="bi bi-twitter"></i></a>
                    <a  class=" fs-16 d-inline-block"><i class="bi bi-instagram"></i></a>
                </div>
            </li> 
         </ul>
        </div>
      </div>
      </div>
    </div>
</div>